*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Libre Baskerville", "Noto Serif TC", Helvetica, Arial, 
    "Microsoft JhengHei", Heiti TC, "メイリオ", sans-serif;
}
.outerWrap{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
/* =========================
   Header：左側固定導覽欄
========================= */
header{
    border-right: 1px solid #c0c0c0;
    width: 122px;
    height: 100vh;
    position: fixed;
    z-index: 999;
}
header .wrap{
    height: 100%;
    padding: 25px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 auto; */
    
}
header .wrap .topBox{
    width: 92px;
    height: 300px; 
    /* outline: 1px solid rgb(255, 255, 255); */
}
.topBox .slideMenuTrigger{
    width: 45px;
    height: 45px;
    margin: 0 auto;
    /* outline: 1px solid rgb(255, 255, 255); */
    position: relative;
}

.topBox .slideMenuTrigger::after{
    content: "";
    width: 20px;
    height: 1px;
    display: block;
    background-color: #d5d5d5;
    position: absolute;
    top: 10px;
}
.slideMenuTrigger .line{
    width: 100%;
    height: 20px;
    display: block;
    position: relative;
}
.slideMenuTrigger .line::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    display: block;
}
.slideMenuTrigger .line::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    display: block;
    position: absolute;
    bottom: 0;
}
.slideMenuTrigger .text{
    height: 12px;
    color: #d5d5d5;
    display: block;
    line-height: 1;
    letter-spacing: 0.8px;
    font-size: 14px;
    margin-top: 12px;
}
.topBox .logo{ /* 已完成 */
  width: 35px;
  margin: 33px auto 0;
} 
.topBox .logo a{
  display: block;
}
.topBox .logo-stamp{ /* 已完成 */
  max-width: 22px;
  margin: 0 auto 11px;
  display: block;
}
.topBox .logo .text.vertical{
  width: 100%;
  height: auto;
  display: block;
  filter: invert(0);       /* 顏色反轉 */
  transition: filter 0.5s;
}
.topBox .logo .text.horizontal{
    display: none;
}
.topBox .logo.scrolled img:nth-child(2){
   filter: invert(1);
}

.bottomBox{
    width: 92px;
    height: 426px;
}
.bottomBox .outerLinkList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 3px;
    filter: invert(0);
    transition: filter 0.5s;
}
.bottomBox .outerLinkList.scrolled{
    filter: invert(1);
}
.bottomBox .outerLinkList li{
    padding-bottom: 7px;
    margin-bottom: 12px;
}
.bottomBox .outerLinkList a{
    writing-mode: vertical-lr;
    color: #d5d5d5;
    font-size: 14px;
    letter-spacing: 4px;
    /* display: inline-block; */
}
/* =========================
.bottomBox > .socialBox
========================= */
.socialBox .socialList{
    align-items: center;
    display: flex;
    flex-direction: column;
    filter: invert(0);
    transition: filter 0.5s;
}
.socialBox .socialList.scrolled{
   filter: invert(1);
}
.socialBox .socialList li:first-child{
    margin-top: 0;
}
.socialBox .socialList li{
    /* margin: 5px 0; */
}
.socialBox .socialList li a {
    color: #d5d5d5;
    font-size: 18px;
    display: block;
    padding: 5px;
    /* text-align: center; */
}
header .bottomBox .languageBox {
    margin: 15px 0 0;
    padding-top: 25px;
    position: relative;
}
header .bottomBox .languageBox:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #919191;
    position: absolute;
    top: 0;
    left: 0;
}
header .bottomBox .languageBox:hover .languageCurrent img{
    filter: none;
}
header .bottomBox .languageBox:hover .languageList a{
    color: rgb(248, 76, 76);
}
.languageBox .languageCurrent img{
    filter: brightness(0.5) grayscale(1) contrast(0.1);
    transition: all 0.65s ease-in-out;
    display: block;
    margin: 0 auto;
}
.languageBox .languageList a{
    display: block;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.5px;
    padding: 10px 0;
    text-align: center;
    color: #000;
    transition: all 0.65s ease-in-out;
}
.bannerArea{
    /* width: 1746px; */
    width: 100%;
    /* overflow-x: hidden; */
    /* max-width: 100%; */
    box-sizing: border-box;
    /* outline: 5px solid red; */
    position: relative;
}
.bannerArea img{
    width: 100%;
    display: block;
    /* overflow-x: hidden; */
}
.bannerArea .Txt{
    /* outline: 2px solid rgb(34, 255, 0); */
    width: 100%;
    /* height: 891px; */
    height: 100%;
    padding-left: 122px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.bannerArea .Txt .textBox{
    /* outline: 2px solid rgb(255, 196, 0); */
    width: 100%;
    padding-left: 11.5%;
    height: 428px;
}
@media (max-width: 1680px) {
    .bannerArea .Txt .textBox {
        padding-left: 5%;
    }
}
@media (max-width: 1280px) {
    .bannerArea .Txt .textBox {
        padding-left: 4%;
    }
}
.Txt .textBox .en{
    color: #d5d5d5;
    font-size: 15px;
    font-weight: 400;
    font-family: "Libre Baskerville", "Noto Serif TC", "Microsoft JhengHei", serif;
    letter-spacing: 3px;
    line-height: 2;
    margin-bottom: 25px;
    display: block;
}
.Txt .textBox .title{
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0.5px;
    white-space: pre-line;
    /* transform-origin: top left; */
}
.Txt .textBox .subtitle{
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2.75px;
    margin-top: 15px;
}
.Txt .textBox .text{
    max-width: 480px;
    display: block;
    margin-top: 35px;
    color: #d5d5d5;
    font-size: 14px;
    font-weight: 400;
    font-family: "Noto Serif TC", "Microsoft JhengHei", serif;
    line-height: 2;
    letter-spacing: 0.25px;
}
.bannerArea .Txt .btnBox{
    margin-top: 35px;
}
.Txt .btnBox .btn_color_white{
    color: #fff;
    padding: 20px 85px 20px 0;
    position: relative;
}
.Txt .btnBox .btn_color_white::before{
    content: "";
    background-color: #fff;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    
}
.Txt .btnBox .btn_color_white::after{
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    background: url('https://www.chunshuitang.com.tw/images/arrow.svg');
    filter: contrast(0) brightness(2);
}
.bannerArea .Txt .vertical{
    /* outline: 2px solid rgb(255, 196, 0); */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 120px;
    right: 21%;
    /* z-index: 1; */
}
@media (max-width: 1680px) {
    .bannerArea .Txt .vertical {
        right: 5%;
    }
}
@media (max-width: 1280px) {
    .bannerArea .Txt .vertical {
        right: 1%;
    }
}
.bannerArea .Txt .vertical .textEditor{
    color: #fff;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 1.78;
    writing-mode: vertical-rl;
}
.bannerArea .Txt .vertical img{
    width: 95px;
    height: 270px;
    transform: translateY(-52px);
}
.outBox{
    padding-left: 122px;
    width: 100%;
}
.outBox .aboutArea{
    padding-bottom: 245px;
    position: relative;
    height: 979px;
}
.outBox .aboutArea .decoImg{
    position: absolute;
}
.deco1{
    bottom: -13%;
    left: -15px;
}
.deco2{
    bottom: -8px;
    right: 0;
}
.deco3{
    bottom: 0.5%;
    right: 3%;
}
.outBox .aboutArea .wrap{
    /* outline: 1px solid rgb(0, 255, 26); */
    width: 100%;
    padding-left: 20px;
    display: flex;
}
.outBox .wrap .titleBox {
    margin-top: 170px;
    margin-right: 65px;
    width: 85px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
}
.outBox .wrap .titleBox::after {
    content: "";
    width: 25px;
    height: 52px;
    background: url('https://www.chunshuitang.com.tw/images/stamp_rectangle.png') center/contain;
    position: absolute;
    bottom: -24px;
    left: 12px;
}
.outBox .wrap .titleBox .title{
    color: #000;
    font-size: 36px;
    font-weight: 500;
    writing-mode: vertical-rl;
}
.outBox .wrap .titleBox .title>span{
    display: inline-block;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 26px;
    position: relative;
}
.outBox .wrap .titleBox .title>span::before{
    content: "";
    width: 220%;
    height: 1px;
    background-color: #c0c0c0;
    position: absolute;
    top: 0;
    left: 0;
}
.outBox .wrap .titleBox .subtitle{
    color: #3b3b3b;
    font-size: 16px;
    margin-right: 2px;
    margin-left: auto;
    writing-mode: vertical-rl;

}
.outBox .wrap .titleBox .subtitle>span{
    display: inline-block;
    line-height: 1;
    padding-top: 9px;
    padding-bottom: 45px;
} 
.outBox .wrap .aboutBox{
    /* outline: 1px solid rgb(0, 128, 255); */
    display: flex;
     
}
.outBox .wrap .aboutBox .Txt{
    /* outline: 4px solid red; */
    width: 370px;
    height: 375px;
    margin-top: 167px;
}
.outBox .wrap .aboutBox .Txt .btnBox a::before{
    content: "";
    background-color: #000;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
}
.outBox .wrap .aboutBox .Txt .btnBox a::after{
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    background: url('https://www.chunshuitang.com.tw/images/arrow.svg');
    /* filter: invert(0) */
    filter: brightness(0) contrast(100);
    /* brightness-0、contrast-100 */
}
.outBox .wrap .aboutBox .Txt .subtitle{
     
}
.outBox .wrap .aboutBox .imgBox{
    display: flex;
    padding-left: 83px;
}
.foodNewsBg{
    background: url('https://www.chunshuitang.com.tw/images/texture_bg_gray.png');
}


section{
    position: relative;
    left: 155px;
    width: calc(100% - 155px)
}