*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Libre Baskerville", "Noto Serif TC", Helvetica, Arial, 
    "Microsoft JhengHei", Heiti TC, "メイリオ", sans-serif;
}
/* =========================
   Header：左側固定導覽欄
========================= */
header{
    border-right: 1px solid rgb(255, 255, 255);
    width: 122px;
    height: 100vh;
    position: fixed;
    /* background-color: aquamarine; */
    z-index: 999;
}
header .wrap{
    height: 100%;
    padding: 25px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 auto; */
    
}
header .wrap .topBox{
    width: 92px;
    height: 300px; 
    /* outline: 1px solid rgb(255, 255, 255); */
}
.topBox .slideMenuTrigger{
    width: 45px;
    height: 45px;
    margin: 0 auto;
    /* outline: 1px solid rgb(255, 255, 255); */
    position: relative;
}

.topBox .slideMenuTrigger::after{
    content: "";
    width: 20px;
    height: 1px;
    display: block;
    background-color: #d5d5d5;
    position: absolute;
    top: 10px;
}
.slideMenuTrigger .line{
    width: 100%;
    height: 20px;
    display: block;
    position: relative;
}
.slideMenuTrigger .line::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    display: block;
}
.slideMenuTrigger .line::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    display: block;
    position: absolute;
    bottom: 0;
}
.slideMenuTrigger .text{
    height: 12px;
    color: #d5d5d5;
    display: block;
    line-height: 1;
    letter-spacing: 0.8px;
    font-size: 14px;
    margin-top: 12px;
}
.topBox .logo{ /* 已完成 */
  width: 35px;
  margin: 33px auto 0;
} 
.topBox .logo a{
  display: block;
}
.topBox .logo-stamp{ /* 已完成 */
  max-width: 22px;
  margin: 0 auto 11px;
  display: block;
}
.topBox .logo img{
  width: 100%;
  height: auto;
  display: block;
  filter: invert(0);       /* 顏色反轉 */
  transition: filter 0.5s;
}
.topBox .logo.scrolled img:nth-child(2){
   filter: invert(1);
}

.bottomBox{
    width: 92px;
    height: 426px;
    /* outline: 1px solid white; */
}
.bottomBox .outerLinkList{
    /* outline: 1px solid red;
    padding: 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 3px;
    filter: invert(0);
    transition: filter 0.5s;
}
.bottomBox .outerLinkList.scrolled{
    filter: invert(1);
}
.bottomBox .outerLinkList li{
    padding-bottom: 7px;
    margin-bottom: 12px;
}
.bottomBox .outerLinkList a{
    writing-mode: vertical-lr;
    color: #d5d5d5;
    font-size: 14px;
    letter-spacing: 4px;
    /* display: inline-block; */
}
.socialBox .socialList{
    align-items: center;
    display: flex;
    flex-direction: column;
    filter: invert(0);
    transition: filter 0.5s;
}
.socialBox .socialList.scrolled{
   filter: invert(1);
}
.socialBox .socialList li:first-child{
    margin-top: 0;
}
.socialBox .socialList li{
    margin: 5px 0;
}
.socialBox .socialList li a {
    color: #d5d5d5;
    font-size: 18px;
    display: block;
    padding: 5px;
    /* text-align: center; */
}
.bannerArea{
    width: 1746px;
    /* overflow-x: hidden; */
    /* max-width: 100%; */
    box-sizing: border-box;
    /* outline: 5px solid red; */
    position: relative;
}
.bannerArea img{
    width: 100%;
    /* overflow-x: hidden; */
}
.bannerArea .Txt{
    /* outline: 2px solid rgb(34, 255, 0); */
    width: 100%;
    padding-left: 122px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    height: 891px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.bannerArea .Txt .textBox{
    /* outline: 2px solid rgb(255, 196, 0); */
    width: 100%;
    padding-left: 11.5%;
    height: 428px;
}
.Txt .textBox .en{
    color: #d5d5d5;
    font-size: 15px;
    font-weight: 400;
    font-family: "Libre Baskerville", "Noto Serif TC", "Microsoft JhengHei", serif;
    letter-spacing: 3px;
    line-height: 2;
    margin-bottom: 25px;
    display: block;
}
.Txt .textBox .title{
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0.5px;
    white-space: pre-line;
    /* transform-origin: top left; */
}
.Txt .textBox .subtitle{
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2.75px;
    margin-top: 15px;
}
.Txt .textBox .text{
    max-width: 480px;
    display: block;
    margin-top: 35px;
    color: #d5d5d5;
    font-size: 14px;
    font-weight: 400;
    font-family: "Noto Serif TC", "Microsoft JhengHei", serif;
    line-height: 2;
    letter-spacing: 0.25px;
}
.bannerArea .Txt .btnBox{
    margin-top: 35px;
}
.Txt .btnBox .btn_color_white{
    color: #fff;
}
.bannerArea .Txt .vertical{
    /* outline: 2px solid rgb(255, 196, 0); */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 120px;
    right: 21%;
    /* z-index: 1; */
}
.bannerArea .Txt .vertical .textEditor{
    color: #fff;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 1.78;
    writing-mode: vertical-rl;
}
.bannerArea .Txt .vertical img{
    width: 95px;
    height: 270px;
    transform: translateY(-52px);
}
section{
    position: relative;
    left: 155px;
    width: 1500px;
}