/* ==================================================
                  1. Reset / Base
================================================== */

/* 全局 */

/* 定位 → 盒模型 → 字體 → 顏色 → 動畫 */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family:
    "Libre Baskerville",
    "Noto Serif TC",
    Helvetica,
    Arial,
    "Microsoft JhengHei",
    sans-serif;
}
 
/* ==================================================
                  2. Layout（大架構）
================================================== */

.outerWrap {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 122px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  border-right: 1px solid #c0c0c0;
}

.outBox {
  padding-left: 122px;
  width: 100%;
}

section {
  position: relative;
  left: 155px;
  width: calc(100% - 155px);
}
 
/* ==================================================
                  3. Components（可重用元件）
================================================== */

/* 📌 字體風格、按鈕樣式 */

/* =========================
   Components - Text
========================= */

.Txt {
  /* position: relative; */
}

.Txt .en {
  /* color: #d5d5d5;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 2; */
}

.Txt .title {
  /* font-size: 38px;
  font-weight: 600;
  line-height: 1.35; */
}

.Txt .subtitle {
  /* font-size: 18px;
  letter-spacing: 2.75px; */
}

/* ==================================================
                  4. Pages（頁面專屬）
================================================== */

/* 📌 Pages 只管位置、尺寸、排列 */
/* 📌 不管字體風格、不管按鈕樣式 */

/* =========================
   Pages - Banner
========================= */

.bannerArea .Txt {
  /* padding-left: 122px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
/* =========================
   Pages - About
========================= */

/* ============
   About Area
============= */

/* 區塊本體 */
.aboutArea{
    position: relative;
    height: 979px;
    padding-bottom: 245px;
}
/* 裝飾圖 */
.aboutArea .decoImg{
    position: absolute;
}
.aboutArea .deco1{
    left: -15px;
    bottom: -13%;
}
.aboutArea .deco2{
    right: 0;
    bottom: -8px;
}
.aboutArea .deco3{
    right: 3%;
    bottom: 0.5%;
}
/* 內層排列 */
.aboutArea .wrap{
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
}
/* ============
About Title
============= */
.aboutArea .titleBox {
    position: relative;
    display: flex;
    width: 85px;
    margin-top: 170px;
    margin-right: 65px;
    padding-bottom: 10px;
}
.aboutArea .titleBox::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -24px;
    width: 25px;
    height: 52px;
    background: url('https://www.chunshuitang.com.tw/images/stamp_rectangle.png') center/contain;
}
.aboutArea .titleBox .title{
    font-size: 36px;
    font-weight: 500;
    color: #000;
    writing-mode: vertical-rl;
}
.aboutArea .titleBox .title>span{
    position: relative;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 26px;
    line-height: 1;
}
.aboutArea .titleBox .title>span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 220%;
    height: 1px;
    background-color: #c0c0c0;
}
.aboutArea .titleBox .subtitle{
    margin-left: auto;
    margin-right: 2px;
    font-size: 16px;
    color: #3b3b3b;
    writing-mode: vertical-rl;

}
.aboutArea .titleBox .subtitle>span{
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 45px;
    line-height: 1;
} 

/* ============
About Content
============= */
.aboutArea .aboutBox{ 
    display: flex;
}
.aboutArea .aboutBox .Txt{
    width: 370px;
    height: 375px;
    margin-top: 167px;
}
/* 按鈕樣式（只限 about 區） */
.aboutArea .aboutBox .Txt .btnBox a {
    position: relative;
}
.aboutArea .aboutBox .Txt .btnBox a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}
.aboutArea .aboutBox .Txt .btnBox a::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 6px;
    background: url('https://www.chunshuitang.com.tw/images/arrow.svg');
    filter: brightness(0) contrast(100);
}


 
/* ==================================================
                  5. State（狀態）
================================================== */
/* =========================
   State
========================= */

.scrolled {
  /* filter: invert(1); */
}

.logo.scrolled img:nth-child(2) {
  /* filter: invert(1); */
} 
/* ==================================================
                  6. Utilities（小工具）
================================================== */
/* =========================
   Utilities
========================= */

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
